<div class="container">
  <div class="row text-center m-auto" style="max-width: 330px; padding: 15px">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <img class="mb-4" src="/assets/chuck.jpg" style="max-width:150px">
      <h1 class="h3 mb-3 fw-normal">Edit User</h1>
      <div class="form-floating form-control-floating">
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
        <%= f.label :email, class: "floated" %>
      </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      <div class="form-floating form-control-floating">
        <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
        <%= f.label :password, class: "floated" %> <i>(leave blank if you don't want to change it)</i><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="form-floating form-control-floating">
        <%= f.password_field :password_confirmation, class:"form-control", autofocus: true, autocomplete: "current-password" %>
        <%= f.label :password_confirmation, class: "floated" %>
      </div>
      <div class="form-floating form-control-floating">
        <%= f.password_field :current_password, class:"form-control", autofocus: true, autocomplete: "current-password" %>
        <%= f.label :current_password, class: "floated" %> <i>(we need your current password to confirm your changes)</i><br />
      </div>
      
      <div class="actions">
        <%= f.submit "Update", class:"w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"w-100 btn btn-sm btn-danger" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
