<div id="<%= dom_id favorite_joke %>">
  <p>
    <strong>Value:</strong>
    <%= favorite_joke.value %>
  </p>

  <p>
    <strong>Icon url:</strong>
    <%= favorite_joke.icon_url %>
  </p>

  <p>
    <strong>Joke:</strong>
    <%= favorite_joke.joke_id %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= favorite_joke.url %>
  </p>

</div>
