<div class="text-center">
<%= form_for @favorite_joke do |form| %>
    <%= form.hidden_field :value, value: @joke['value'], style: "display: block" %>
    <%= form.hidden_field :icon_url, value: @joke['icon_url'], style: "display: block" %>
    <%= form.hidden_field :joke_id, value: @joke['joke_id'], style: "display: block" %>
    <%= form.hidden_field :url, value: @joke['url'], style: "display: block" %>
    <%= form.hidden_field :user_id, value: current_user.id, style: "display: block" %>
    <%= form.submit "Save favorite joke", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
